{% extends 'login_base_jobseeker.html' %}

{% load static %}

{% block content %}

    

    <!-- HOME -->


    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'website/images/hero_1.jpg' %}');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Welcome to Job-Hunt
            </h1>
            <div class="custom-breadcrumbs">
              <a href={% url 'home' %}>Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Job Seeker / {{user.name}}</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>


    
    <section class="site-section">
      <div class="container">
        <div class="border border-5">
          <h2>Recommended Jobs for you</h2>
          <div class="container mb-3">
        {% for job in jobs %}
        <div class="col mb-5">
        <div class="card mb-4">
          <h3 class="card-header">{{ job.job_title}}</h3>
            <div class="card-body">
            <h6 class="card-title">{{ job.job_description }}</h6>
            <p class="card-text"><h5>Required Experience :</h5>{{ job.job_experiance }}<br><h5>Required Skills :</h5>{{ job.job_skills }}<br><h5>Company :</h5>{{ job.job_company_name }}<br><h5>Contact :</h5>{{ job.job_company_email }}</p>

            <form class="input-group mb-3" method="POST" action={% url 'job_apply' %}>
              {% csrf_token %}
              <input type="text" class="form-control"  placeholder="Enter Your Email Id to Apply..." name="jobseeker_mail_id" aria-describedby="button-addon2">
              <input type="text" class="form-control" placeholder="Enter The Job Name" name="job_name" aria-describedby="button-addon2">
              <button class="btn btn-outline-success" type="submit" name="job_company_email" value={{ job.job_company_email }}>Apply</button>
            </form>
            
          </div>
        </div>
      </div>

        {% endfor %}
        </div>
      </div>
    </div>
        <!--
        <div class="row">
          
            
              
              <div>
              

              </div>
              
          </div>
        </div>-->
    </section>



    <section class="site-section">
      <div class="container">
          <div class="border border-5">
            {% if applied_job != None %}
            <h2 class="mb-4">Applied Jobs</h2>
            <div class="container mb-3">
              {% for job in applied_job %}
              <div class="col mb-5">
              <div class="card mb-4">
                <h3 class="card-header">{{ job.job_title}}</h3>
                  <div class="card-body">
                  <h6 class="card-title">{{ job.job_description }}</h6>
                  <p class="card-text"><h5>Required Experience :</h5>{{ job.job_experiance }}<br><h5>Required Skills :</h5>{{ job.job_skills }}<br><h5>Company :</h5>{{ job.job_company_name }}<br><h5>Contact :</h5>{{ job.job_company_email }}</p>
                  <!--
                  <form class="input-group mb-3" method="POST" action={% url 'job_apply' %}>
                    {% csrf_token %}
                    <input type="text" class="form-control"  placeholder="Enter Your Email Id to Apply..." name="jobseeker_mail_id" aria-describedby="button-addon2">
                    <input type="text" class="form-control" placeholder="Enter The Job Name" name="job_name" aria-describedby="button-addon2">
                    <button class="btn btn-outline-success" type="submit" name="job_company_email" value={{ job.job_company_email }}>Apply</button>
                  </form>
                -->
                  
                </div>
              </div>
            </div>
      
              {% endfor %}
              </div>
              {% endif %}
            
          </div>
    </section>





    <section class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5">
            <h2 class="mb-4">My Profile -- {{user.name}}</h2>
            <form action="login_jobseeker.html" class="p-4 border rounded">

                <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                      <label class="text-black" for="name">Name</label>
                      <input type="text" id="name" class="form-control" placeholder="Name" value={{user.name}} readonly>
                    </div>
                  </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="email">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="Email-address" value={{user.email}} readonly>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="dob">Date of Birth</label>
                  <input type="text" id="dob" class="form-control" placeholder="DOB" value={{user.dob}} readonly>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="mobile">Mobile</label>
                  <input type="number" id="mobile" class="form-control" placeholder="Mobile" value={{user.mobile}} readonly>
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Education Details</label>
                </br>
                  <text>Degree</text>
                  <input type="text" id="degree" class="form-control" placeholder="Degree/Highest Education" value={{user.degree}} readonly>
                </br>
                <text>Passed-out-year</text>
                  <input type="date" id="poy" class="form-control" placeholder="Passed-out Year" value={{user.passed_out_year}} readonly> 
                </br>
                <text>Percentile</text>
                  <input type="number" id="percentile" class="form-control" placeholder="Percentile" value={{user.percentile}} readonly>
                </br>
                <text>Experience</text>
                  <input type="number" id="experience" class="form-control" placeholder="Experience" value={{ user.experience }} readonly>
                </br>
                </div>
              </div>

              <div class="row  text-right form-group">
                <div class="col-md-12">
                  <input type="submit" value="Update" class="btn px-4 btn-primary text-white">
                </div>
              </div>

            </form>
            

            </div>
           </div> 
          </div>
    </section>




    
    
{% endblock %}