{% extends 'login_base_jobrecruiter.html' %}

{% load static %}

{% block content %}


    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'website/images/hero_1.jpg' %}');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Post A Job</h1>
            <div class="custom-breadcrumbs">
              <a href={% url 'home' %}>Home</a> <span class="mx-2 slash">/</span>
              <a href="#">Job</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Post a Job</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <section class="site-section">
      <div class="container">

        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div>
                <h2>Post A Job</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-12">
            <form class="p-4 p-md-5 border rounded" method="post">
              <h3 class="text-black mb-5 border-bottom pb-2">Job Details</h3>
              
              <!--<div class="form-group">
                <label for="company-website-tw d-block">Upload Featured Image</label> <br>
                <label class="btn btn-primary btn-md btn-file">
                  Browse File<input type="file" hidden>
                </label>
              </div>-->

              <div class="form-group">
                <label for="job-title">Job Title</label>
                <input type="text" class="form-control" id="job-title" placeholder="Product Designer">
              </div>

              <div class="form-group">
                <label for="job-description">Job Description</label>
                <div class="form-group" id="editor-1">
                  <input type="text" class="form-control" id="job-location" placeholder="Write a description">
                </div>
              </div>

              <div class="form-group">
                <label for="job-location">Location</label>
                <input type="text" class="form-control" id="job-location" placeholder="e.g. Mumai">
              </div>

              

              <div class="form-group">
                <label for="job-skills">Skills Required</label>
                <input type="text" class="form-control" id="job-skills" placeholder="e.g. C++, C, Python">
              </div>

              <div class="form-group">
                <label for="job-experiance">Experiance Required</label>
                <input type="text" class="form-control" id="job-experiance" placeholder="e.g. 0, 1, 2">
              </div>

              <div class="form-group">
                <label for="company-name">Company Name</label>
                <input type="text" class="form-control" id="company-name" placeholder="Company name">
              </div>

              <div class="form-group">
                <label for="company-email">Registerd Email</label>
                <input type="text" class="form-control" id="company-email" placeholder="abc@email.com">
              </div>

        <div class="row align-items-center mb-5">
          
          <div class="col-lg-4 ml-auto">
            <div class="row">
              <!--<div class="col-6">
                <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a>
              </div>-->
              <div class="col-6 ">
                <a href="#" class="btn btn-block btn-primary btn-md">Save Job</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    
{% endblock %}