{% extends 'base.html' %}

{% load static %}

{% block content %}


    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'website/images/hero_1.jpg' %}');" name="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Welcome to Job-Hunt
                <ul class="dropdown text-white font-weight-bold ">
                  <li><a href="register.html">Register</a></li>
                  <li><a href="login.html">Login</a></li>
                </ul>
              
            </h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'home' %}">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Log In</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <h2 class="mb-4">Sign Up as Recruiter</h2>
            <form action={% url 'jobrecruiter' %} class="p-4 border rounded" method="POST">
              {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="name">Name</label>
                  <input type="text" name="name" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="email">Email</label>
                  <input type="email" name="email" class="form-control" placeholder="Email address">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="mobile">Mobile</label>
                  <input type="number" name="mobile" class="form-control" placeholder="Mobile">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="password">Password</label>
                  <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="row form-group mb-4">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="re_type_pwsd">Re-Type Password</label>
                  <input type="password" name="re_type_pwsd" class="form-control" placeholder="Re-type Password">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="company_name">Company Name</label>
                  <input type="text" name="company_name" class="form-control" placeholder="Company Name">
                </div>
              </div>

              <div class="row form-group ">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="company_desc">Company Description</label>
                  <input type="text" name="company_desc" class="form-control" placeholder="Company Description">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Register" class="btn px-4 btn-primary text-white">
                </div>
              </div>

            </form>
          </div>
          
          <div class="col-lg-6">
            <h2 class="mb-4">Sign up as Job Seeker </h2>
            <form method="POST" action={% url 'jobseeker' %} class="p-4 border rounded">
              {% csrf_token %}
                <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                      <label class="text-black" for="name">Name</label>
                      <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                  </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="email">Email</label>
                  <input type="email" name="email" class="form-control" placeholder="Email address">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="dob">Date of Birth</label>
                  <input type="date" name="dob" class="form-control" placeholder="DOB">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="mobile">Mobile</label>
                  <input type="number" name="mobile" class="form-control" placeholder="Mobile">
                </div>
              </div>

              <div class="row form-group mb-4">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="password">Password</label>
                  <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
              </div>

              <div class="row form-group mb-4">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="repwsd">Re-Type Password</label>
                  <input type="password" name="repwsd" class="form-control" placeholder="Password">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Education Details</label>
                </br>
                  <small>Degree</small>
                  <input type="text" name="degree" class="form-control" placeholder="Degree/Highest Education">
                </br>
                <small>Passed Out Year</small>
                  <input type="date" name="poy" class="form-control" placeholder="Passed-out Year">
                </br>
                <small>Percentile</small>
                  <input type="number" name="percentile" class="form-control" placeholder="Percentile">
                </br>
                <small>Experiance</small>
                  <input type="number" name="experiance" class="form-control" placeholder="Experiance">
                </br>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Register" class="btn px-4 btn-primary text-white">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </section>
    
{% endblock %}